/cache/*
!cache/.gitkeep
/config/.env
/config/development.config.php
/config/autoload/local.php
/config/autoload/*.local.php
/config/autoload/*.local.development.php
/log/*
!log/error.log
/node_modules/
yarn-error.log
npm-debug.log
/public/[0-9]*.[0-9]*.[0-9]*/
/session/
/tmp/
/vendor/
phpunit.xml
/.idea/
.DS_Store
